<app-header title="Logina"></app-header>

<ion-content>

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">
      <app-custom-input
      autocomplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      >
      </app-custom-input>
  
     
      <app-custom-input 
      icon="lock-closed-outline"
      [control]="form.controls.password"
      type="password"
      label="Contraseña"
      >
      </app-custom-input>
      
    </form>
  </div>
  
 
</ion-content>
